<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>618644707522-7vkbf6m90cnh8jq8thl4311inntvqqi3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.618644707522-7vkbf6m90cnh8jq8thl4311inntvqqi3</string>
	<key>API_KEY</key>
	<string>AIzaSyDwIdQ8YsVMTpt3fUhr1z8aRpzGpurN05Q</string>
	<key>GCM_SENDER_ID</key>
	<string>618644707522</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.scholacantorum.orders.AtTheDoor</string>
	<key>PROJECT_ID</key>
	<string>schola-cantorum-orders</string>
	<key>STORAGE_BUCKET</key>
	<string>schola-cantorum-orders.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:618644707522:ios:ea4171967ace822e</string>
	<key>DATABASE_URL</key>
	<string>https://schola-cantorum-orders.firebaseio.com</string>
</dict>
</plist>